@keyframes scroll {
    0% { top: 100%; }
    100% { top: -200%; }
}

body {
	width: 100%;
	height: 100%;
    line-height: 50px;
    font-family: Arial, sans-serif;
	font-weight: 700;
	color: #ff6;
	background-color: #000;
	overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
}

.title {
	
	width: 900px;
	height: 500px;
	
	font-size: 50px;
	font-weight: bold;
	text-align: justify;
	
	transform: perspective(320px) rotateX(25deg);
}

.titlecontent {
	position: absolute;
    text-align: justify;
    animation: scroll 30s linear 0s infinite;
    
}

span {
    display: block;
    margin: 0 auto;
    text-align: center;
}
